h1
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 5em;
	text-align-last: center;
	color: white;
	text-shadow: 5px 5px 15px #00000099;
}
